*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(233, 210, 240, 0.7),rgba(233, 210, 240, 0.7)),url(images/Home.png);
    background-position: center;
    background-size: cover;
    position: relative;
}